.flex-center .content {
    min-height: 300px;
    max-height: fit-content;
}

.flex-center .content h3 {
    text-align: center;
    font-size: 30px;
}

.flex-center .content p {
    text-align: center;
    font-size: 18px;
}

.flex-center .content button {
    margin: 0 auto;
    font-size: 18px;
    display: block;
}

.flex-center .content .answers {
    align-items: center;
}

.flex-center .content h4 {
    text-align: center;
}

#start-button {
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.button {
    display: block;
}

.user-input {
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
}

#name {
    padding: 10px 5px;
    font-size: 24px;
    text-align: center;
}

#submit-btn {
    margin-top: 5px;
    width: auto;
}