.flex-center .content ol {
    align-items: center;
    width: fit-content;
    list-style: none;
}

.flex-center .content h4 {
    text-align: center;
}

#start-button {
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

#start-button, .button {
    background-color: green;
    border-radius: 20px;
    padding: 10px;
}

#start-button:hover, .button:hover {
    background-color: red;
}